# node modules
node_modules/

# log
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
*.swp
.DS_Store

# configuration
.env

# lock-files
package-lock.json
yarn.lock

# Elastic Beanstalk Files
*/dist
!.elasticbeanstalk/*.global.yml

#lambda
*.zip
*/build
*.eslintcache*

#sam
*/.aws-sam
lambda/template.yaml